@tailwind base;
@tailwind components;
@tailwind utilities;

.dc-header-border-color{
    border-color: #efefef;
}

.logo-heading{
    font-size: 31.9px;
}

.dc-nav-links a{
    @apply text-lg text-gray-300 py-4 inline-block pl-6;
}

.primaryColor ,.dc-nav-links a.primaryColor{
    color:#5329FF;

}
.dc-text-color{
    color: #706B87;
}

.loginPageBg{
    
    background-image:url('../../public/assets/image/login-page-bg.png');background-repeat: no-repeat;background-size: cover;background-position: top right; 

}

.dc-login-box{
    max-width: 500px;
}

.dc-login-box h1{
    font-size: 22px;
}

.dc-btn{
    @apply text-white font-semibold w-full py-2 px-4 rounded ;
    background-color:#5a26ff;
}
.topspace{
    padding-top: 70px;
}

